<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Express Movies</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/style.css">
    </head>
    <body>
    
        <div class="central">
            <% include ./partials/header %>

            <h1>Express Movies: les sites des cinéphiles</h1>
            <div>
                Étes-vous plûtot films ou séries ? Peu importe, vous trouverez votre bonheur dans les deux cas.
            </div>

        </div>
            <% include ./partials/footer %>

    </body>
</html>